<div class="intro">
  <div class="headlines">
    <div id="headlineOne">
      THE INVENTOR'S BEST FRIEND
    </div>

    <div id="headlineTwo">
      Invent. Wonder. Appraise.
    </div>
  </div>
  
  <%= render 'form' %>

  <div id="what-is-louange">
    <%= link_to "What is Louange?", "#" %>
  </div>
</div>