/* Fonts */
$font-primary: "Helvetica Neue";

/* Colors */
$color-text-light: #dddddd;
$color-text-alert: #ff6363;
$color-brand-dark: #000;
$color-brand-light: #dddddd;
$color-navbar-primary: #000;
$color-navbar-highlight: #ffffff;
$color-btn-primary: #ff667a;
$color-btn-highlight: #bbb;
$color-btn-disabled: #666666;
$color-btn-border: #666666;
$color-btn-text: #666666;
$color-fb-primary: #344E8A;
$color-fb-highlight: #5B659A;
$color-text-alert: #FF0000;